<a href="https://colab.research.google.com/github/tchamna/Bamileke/blob/main/CalendrierBamilekeCalendarNufi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Shck Ca᷅mnà' (Tchamna), Resulam, www.resulam.com

# Lié'nzɑ̄ pí Mɑ̄ŋū : Day and Month Definition

In [1]:
Language = "Nufi"

Days_Nufi = ["Líé'nkwè'","Nkɑ́ɑ́ntēē","Nzêngòò","Ncômntēē","Nzîngū","Nzîsō","Nsû'kwɑ̀","Nthʉ̄'ntāā"]

Month_Nufi = ["Ngù'fī","Nkùɑ̀nʉ̀ɑ̀","Mbàkngòfāt","Sò'njɑ̀ɑ̀","Njwēnɑ̌hntà'","Mòmòshʉ̄","Ntûmbhìngòfāt","Mɑ̂ngà'nshì",
              "Kùkū'", "Ndʉ̌'nzɑ̄","Nkhʉ̀ɑ̀nʉ̀ɑ̀","Ncátmɑ̄ŋū"]

Month_Eng = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

Month_Nufi_Eng = dict(zip(Month_Eng,Month_Nufi))

# Function Definition

In [2]:
import pandas as pd 

def calendar_days(begin_nufi_day, year,month, max_day):

  """
  begin_nufi_day is one of the following days:

  "Líé'nkwè'",
  "Nkɑ́ɑ́ntēē",
  "Nzêngòò",
  "Ncômntēē",
  "Nzîngū",
  "Nzîsō",
  "Nsû'kwɑ̀",
  "Nthʉ̄'ntāā"
  
  """

  import calendar
  import pandas as pd 

  from datetime import datetime
  
  beg_date_string = f"{year}-{month}-{1}"
  beg_day_of_week = datetime.strptime(beg_date_string, "%Y-%m-%d").strftime("%A")
  Month_str = datetime.strptime(beg_date_string, "%Y-%m-%d").strftime("%B")

  dict_day_num = {"Monday": 1, "Tuesday": 2, "Wednesday": 3, "Thursday": 4, "Friday": 5, "Saturday": 6, "Sunday": 7}
  start_day_num = dict_day_num[beg_day_of_week]
  # display the calendar
  # print(calendar.month(year, month))

  cal = calendar.monthcalendar(year, month)
  # print(*cal)
  days_int = [item for sublist in cal for item in sublist]
  days_list = []
  Days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
  Days_Nufi = ["Líé'nkwè'","Nkɑ́ɑ́ntēē","Nzêngòò","Ncômntēē","Nzîngū","Nzîsō","Nsû'kwɑ̀","Nthʉ̄'ntāā"]
  start_day_num_nufi = Days_Nufi.index(begin_nufi_day)

  days_int = [item for sublist in cal for item in sublist]
  days_list = []

  for n in range(0,max_day):
      
    temp = [f"{Month_str} {days_int[n+start_day_num-1]} {str(year)}", Days[(n+start_day_num-1)%7],Days_Nufi[(n+start_day_num_nufi)%8]]
    days_list.append(temp)
  # print(days_list)
  df = pd.DataFrame(days_list)
  df.columns = ["Date","Day(Eng)","Day(Nufi)"]
  return df

In [3]:
###############################################################################################
#                                                                                             #
##############################################################################################
# Days_Nufi = ["Líé'nkwè'","Nkɑ́ɑ́ntēē","Nzêngòò","Ncômntēē","Nzîngū","Nzîsō","Nsû'kwɑ̀","Nthʉ̄'ntāā"]
def calendar_nufi(df, next_month_index, year=2023, month=6, Number_of_days = 31):    
  # Days_June = 30
  start_day_nufi = Days_Nufi[next_month_index]
  max_day = Number_of_days

  Date_df = calendar_days(start_day_nufi,year,month, max_day)
  df = pd.concat([df,Date_df],axis=0)

  next_month_index = (Number_of_days%8 + Days_Nufi.index(start_day_nufi))%8

  return df, next_month_index

In [4]:

def nufi_calendar_yearly(next_month_index, year = 2023, days_Feb=28):
    
  df = pd.DataFrame()

  # print(next_month_index)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=1, Number_of_days = 31)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=2,  Number_of_days = days_Feb)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=3, Number_of_days = 31)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=4, Number_of_days = 30)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=5, Number_of_days = 31)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=6, Number_of_days = 30)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=7, Number_of_days = 31)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=8, Number_of_days = 31)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=9, Number_of_days = 30)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=10, Number_of_days = 31)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=11, Number_of_days = 30)

  df, next_month_index = calendar_nufi(df, next_month_index, year=year,month=12, Number_of_days = 31)

  df.to_csv("Nufi_Calendar_2023.csv",encoding="utf 8 - sig")

  return df, next_month_index

In [5]:
# February 2023: 28 days (common year)
# February 2024: 29 days (leap year)
# February 2025: 28 days (common year)
# February 2026: 28 days (common year)
# February 2027: 28 days (common year)

def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

# Example usage
year = 2023
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2023 is not a leap year.

In [7]:
def calendar_nufi_many_years(This_year,End_year,month_index):

  import pandas as pd 
  """
  This calendar will give you all the days in the year calendar_year
  And the calendar history from 2023 to calendar_year
  
  Days_Nufi = ["Líé'nkwè'","Nkɑ́ɑ́ntēē","Nzêngòò","Ncômntēē","Nzîngū","Nzîsō","Nsû'kwɑ̀","Nthʉ̄'ntāā"]

  """
  # Note: The initial date is what determine the remaining date!
  # You should know what date corresponds to, say, January 1, 2023
  # In my case, January 1, 2023 = Líé'nkwè', that is why Days_Nufi[0] = Líé'nkwè'
  # If for example, I am in 2025, and January 1, 2025 = Ncômntēē, then, I will pick
  # month_index = 3, because Days_Nufi[3] = Ncômntēē, and I will change the variable This_year to 2025

  # # INITIAL DATE
  # month_index = 0 # Days_Nufi[0] = "Líé'nkwè'"
  # This_year = 2023 # We are in 2023, the year of creation of this script

  # month_index = 3 # Days_Nufi[3] = "Ncômntēē"
  # This_year = 2025 # 

  

  ddf = pd.DataFrame()
  for year in range(This_year,End_year+1):
    if is_leap_year(year):
      days_Feb_ = 29
    else:
      days_Feb_ = 28
    df, month_index = nufi_calendar_yearly(month_index, year = year,days_Feb=days_Feb_)
    ddf = pd.concat([ddf,df], axis=0)
  return df, ddf


# INITIAL DATE
month_index = 0 # Days_Nufi[0] = "Líé'nkwè'"
This_year = 2023 # We are in 2023, the year of creation of this script

# month_index = 3 # Days_Nufi[3] = "Ncômntēē"
# This_year = 2025 # 


month_index = 3 # Days_Nufi[3] = "Ncômntēē"
This_year = 1900 # 

#END YEAR
End_year = 2200

calendar_end_year, calendar_history = calendar_nufi_many_years(This_year,End_year,month_index)



calendar_history

                Date   Day(Eng)   Day(Nufi)
0     January 1 1900     Monday    Ncômntēē
1     January 2 1900    Tuesday      Nzîngū
2     January 3 1900  Wednesday       Nzîsō
3     January 4 1900   Thursday    Nsû'kwɑ̀
4     January 5 1900     Friday  Nthʉ̄'ntāā
..               ...        ...         ...
26  December 27 2200   Saturday   Líé'nkwè'
27  December 28 2200     Sunday  Nkɑ́ɑ́ntēē
28  December 29 2200     Monday     Nzêngòò
29  December 30 2200    Tuesday    Ncômntēē
30  December 31 2200  Wednesday      Nzîngū

[109938 rows x 3 columns]

In [20]:
year = "2022|1947|1981"
month = "June|July|March"
day = "15|31"

mask = calendar_history["Date"].str.contains(year)
mask = mask & calendar_history["Date"].str.contains(month)
mask = mask & calendar_history["Date"].str.contains(day)

calendar_history[mask]

             Date   Day(Eng)   Day(Nufi)
14  March 15 1947   Saturday     Nzêngòò
30  March 31 1947     Monday     Nzêngòò
14   June 15 1947     Sunday    Nsû'kwɑ̀
14   July 15 1947    Tuesday      Nzîngū
30   July 31 1947   Thursday      Nzîngū
14  March 15 1981     Sunday       Nzîsō
30  March 31 1981    Tuesday       Nzîsō
14   June 15 1981     Monday  Nkɑ́ɑ́ntēē
14   July 15 1981  Wednesday  Nthʉ̄'ntāā
30   July 31 1981     Friday  Nthʉ̄'ntāā
14  March 15 2022    Tuesday      Nzîngū
30  March 31 2022   Thursday      Nzîngū
14   June 15 2022  Wednesday   Líé'nkwè'
14   July 15 2022     Friday    Nsû'kwɑ̀
30   July 31 2022     Sunday    Nsû'kwɑ̀

In [ ]:

def fromEng_toNufi_Date(x):

  Month = x.split(" ")[0]
  Day = x.split(" ")[1]
  Year = x.split(" ")[2]

  if int(Day) == 1:
      return f"Ntûmbhì līē', {Month_Nufi_Eng[Month]}, Ngù' {Year}"

  return f"līē' {Day}, {Month_Nufi_Eng[Month]}, Ngù' {Year}"

In [ ]:


calendar_history["Nufi_Date"] = calendar_history["Date"].apply(fromEng_toNufi_Date)
calendar_history["Nufi_Full_Date"] = calendar_history["Day(Nufi)"] + ", " + calendar_history["Nufi_Date"]

calendar_history

# Today's Date in Nufi

In [ ]:
import datetime, time 

# Get the current date
now = datetime.datetime.now()

# Format the current date as a year-month-day string
Today = now.strftime("%B %d %Y")

mask_today = calendar_history["Date"] == Today

nufi_date_series = calendar_history[mask_today]["Nufi_Full_Date"]
eng_date_series = calendar_history[mask_today]["Day(Eng)"]

Today_day_nufi = "date introuvable" if len(nufi_date_series) ==0 else list(nufi_date_series)[0] 
Today_day_Eng = "date introuvable" if len(eng_date_series) ==0 else list(eng_date_series)[0] 

print("Zè'é mɑ́ " + Today_day_nufi)
time.sleep(4)
print("Yáá mɑ̀ lāhā ?" )
time.sleep(4)
print("Zēn zǎ mɑ́ Shck Ca᷅mnà' (Tchamna)" )

Zè'é mɑ́ Nthʉ̄'ntāā, līē' 14, Sò'njɑ̀ɑ̀, Ngù' 2023
Yáá mɑ̀ lāhā ?
Zēn zǎ mɑ́ Shck Ca᷅mnà' (Tchamna)

# Lǒ' Pɑ̌' yāā : Save as a CSV

In [ ]:
calendar_history.to_csv(f"{Language}calendar_history_2023_{End_year}.csv",encoding= "utf 8 - sig")